<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="/css/style.css">
</head>

<body>
<div class="App">
<div class="MoviesContainer">
<% if(movies == null){%>
    <p>No films today</p>
<% }else{ %>
<% for (var i in movies) { %>
	<% var movie = movies[i]; %>
	
	<div class="Movie">
		<a class="MovieCellContainer">
			<div class="MoviePosterContainer">
				<img src="<%= movie.poster %>" class="MoviePoster">
			</div>
			<div class="MovieInfo">
				<div class="MovieTitle">
					<%= movie.title %>
				</div>
                <div class="MovieYear">
					<%= movie.title %>
				</div>
				<div class="MovieYear">
					<%= movie.viewingOptions[0] %>
				</div>
				
			</div>
		</a>
	</div>
              
<% }}%>
</div>	
</div>
</body>
</html>